@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.title-underline {
  padding: 30px 0;
  position: relative;
}

.title-underline::before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 16px;
  width: 150px;
  height: 2px;

  background: #cc0000;
  z-index: -1;
}

.title-underline-long {
  padding: 30px 0;
  position: relative;
}

.title-underline-long::before {
  content: "";
  position: absolute;
  left: 37%;
  bottom: 16px;
  width: 150px;
  height: 2px;

  background: #cc0000;
  z-index: -1;
}

.title-underline-long2 {
  padding: 30px 0;
  position: relative;
}

.title-underline-long2::before {
  content: "";
  position: absolute;
  left: 39%;
  bottom: 16px;
  width: 150px;
  height: 2px;

  background: #cc0000;
  z-index: -1;
}

.parallelogram-bg {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background: #000;
}

.custom-shadow{
  box-shadow: 5px 5px 50px 10px #CC00000A;
}

@media screen and (max-width: 480px) {
  .parallelogram-bg {
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  }

  .title-underline-long::before {
    left: 25%;
  }

  .title-underline-long2::before {
    left: 18%;
  }

  .title-underline::before {
    left: 18%;
  }
}

.container-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 28%; /* 16:9 Aspect Ratio */
  border-radius: 5px
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px
}

.swiper-pagination {
	@apply absolute bottom-20 w-full flex justify-center  z-30 gap-1
}

.swiper-pagination-bullet {
  border-radius: 50%;
	width: 14px;
	height: 14px;
	text-align: center;
	opacity: 1;
	background: #EEE0E0;
}

.swiper-pagination-bullet-active {
	background: #092741;
  width: 15px;
  height: 15px;
  border: 5px solid #CC0000;
  border-radius: 50%;
  outline: 2px solid #CC0000;
  outline-offset: 4px;
}

.chipNew{
  @apply  bg-transparent dark:bg-gray-700 text-green-300 border-green-400
}

.chipProses{
  @apply bg-transparent dark:bg-gray-700 text-yellow-300 border-yellow-300
}

.chipDone{
  @apply bg-transparent dark:bg-gray-700 text-gray-400 border-gray-500
}
